.Rproj.user
.Rhistory
.RData
.Ruserdata
Datenanalyse_Übung_1.html
temp.rds
Abgabe_TTTrial_Anime.html
Abgabe_TTTrial_Anime.Rmd
studentratioclean.rds
studentratio.rds
student_ratio.rds
wastetotal.rds
wastefail.rds
waste.rds
Abgabe_TTTrial_NobelPrize.Rmd
Testapp
